body{
  font-family: "Josefin Sans", sans-serif;;
}


.navbar-nav .nav-link {
    color: #ffffff; /* Cor dos links */
    transition: color 0.3s ease; /* Transição suave para quando passar o mouse */
  }
  
.navbar-nav .nav-link:hover {
    color: #00bfe7; /* Cor dos links quando o mouse estiver sobre eles */
  }
  
  
/* Animação suave no texto de boas-vindas */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.animate-fade {
  animation: fadeIn 1.5s ease-in-out;
}
  
.animate-fade-content {
  animation: fadeInUp 2s ease-in-out;
}
  
body {
  font-family:"Wix Madefor Display", sans-serif;
  background-color: #100028;
  color: #ffffff;
  padding-bottom: 60px; /* Para evitar que o rodapé sobreponha o conteúdo */
}

.nav-bar-color{
  background-color:#00bfe7 ;
  transition: background-color 0.3s ease;
}
  
  
  
h1 {
  color: #ffffff;
  font-weight: bolder;
}
  
  



/* Quiz */

.start_btn,
.info_box,
.quiz_box,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3 ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1); 
  background-color: #080312;
  color: white;
}




 
.start_btn button {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .start_btn button */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.start_btn button::after,
.start_btn button::before {
  content: "";
  position: absolute;
  inset: 0;
}

.start_btn button::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.start_btn button::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.start_btn button:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}





.info_box{
  width: 540px;
  background: #ffffff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(255, 0, 234);
  display: flex;
  align-items: center;
  padding: 0 30px;
  /* font-size: 1.5rem; */
  font-weight: 600;
  color: #fff;
  background-color: #080312;
}

.info_box .info_list{
  padding: 15px 35px;
  background-color: #080312;
}

.info_box .info_list .info{
  margin: 5px 0;
  font-size: 1.3rem;
  color: #fff;
}

.info_box .info_list .info span{
  font-weight: 600;
  color: #00bfe7;
}

.info_box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid #f441a5;
  background-color: #080312;
  

}

.info_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button.restart{
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.buttons button.restart {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.buttons button.restart::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.buttons button.restart:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}
.buttons button.restart:active::before {
  filter: blur(0.2em);
}



.buttons button.quit{
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.buttons button.quit {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.buttons button.quit::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.buttons button.quit:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}
.buttons button.quit:active::before {
  filter: blur(0.2em);
}



.quiz_box {
  width: 70%; 
  max-width: 800px; 
  min-height: 600px; 
  background: #ffffff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}


.quiz_box header{
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: #080312;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgb(0,0,0,0.1);

}

.quiz_box header .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz_box header .timer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: floralwhite;
  border: 1px solid #fae0e4;
  border-radius: 5px;
  padding: 0 8px;
}

.quiz_box header .timer .time_text{
  font-weight: 400;
  font-size: 1.4rem;
  user-select: none;
}

.quiz_box header .timer .timer_sec{
  font-size: 1.5rem;
  font-weight: 500;
  background: rgb(95, 155, 224);
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(95, 155, 224);
  user-select: none;
}

.quiz_box header .time_line{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: rgb(95, 155, 224);;
}

.quiz_box section{
  padding: 25px 30px 20px 30px;
  background:#080312 ;
}

.quiz_box section .que_text{
  font-size: 1.7rem;
  font-weight: 600;
}

.quiz_box section .option_list{
  padding: 20px 0;
  display: block;
}

section .option_list .option{
  background: rgb(95, 155, 224);
  border: 1px solid rgb(95, 155, 224);
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
}

section .option_list .option:hover{
  color: rgb(191, 215, 243);
  background: rgb(62, 42, 109);
  border-color: rgb(95, 155, 224)
}

section .option_list .option:last-child{
  margin-bottom: 0px;
}

.option_list .option .icon{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  line-height: 24px;
  pointer-events: none;
}

.option_list .option .icon.tick{
  color: rgb(8, 80, 8);
  border-color: rgb(8, 80, 8);
  background: #b6ffbf;
}

.option_list .option .icon.cross{
  color: rgb(62, 42, 109);
  background: rgb(95, 155, 224);
  border-color: rgb(62, 42, 109);
}

.option_list .option.correct{
  color: rgb(8, 80, 8);
  background: #b6ffbf;
  border-color: rgb(195, 255, 195);
}

.option_list .option.incorrect{
  color: rgb(255, 255, 255);
  background: rgb(134, 95, 224);
  border-color: #1b0035;

}

.option_list .option.disabled{
  pointer-events: none;
}
.quiz_box footer{
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box footer .total_que span{
  display: flex;
  user-select: none;
}

footer .total_que span p{
  font-weight: 500;
  padding: 0 5px;
}


footer .total_que span p:first-child{
  padding-left: 0px;
}

footer .next_btn{
  display: none;
  height: 40px;
  padding: 0 13px;
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(95, 155, 224);
  border-radius: 5px;
  border: 1px solid rgb(95, 155, 224);
  cursor: pointer;
  transition: all 0.3 ease;
}

footer .next_btn:hover{
  background: rgb(62, 42, 109);
}

.result_box{
  background: #fff;
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon{
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.result_box .complete_text{
  font-size: 1.5rem;
  font-weight: 500;
}

.result_box .score_text span{
  display: flex;
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.score_text span p{
  font-weight: 600;
  padding: 0 4px;
}

.result_box .buttons{
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid rgb(95, 155, 224);
  cursor: pointer;
  transition: all 0.3 ease;
}

.start_btn button-voltar{
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(95, 155, 224);
  border-radius: 5px;
  border: 1px solid rgb(95, 155, 224);
  cursor: pointer;
  transition: all 0.3 ease;

}

.start_btn button-voltar:hover{
  background: rgb(62, 42, 109);
  color:white

}

.text{
  color: black;
}

.section{
  padding: 3%;
}



@media (max-width: 720px){
  .quiz_box header .title{
    font-size: 1rem;
  }
  .quiz_box header {
    height: 50px;
}
  .quiz_box section .que_text {
    font-size: 1.1rem;
}
  section .option_list .option{
    font-size: 0.8rem ;
}
}

@media (max-width: 560px){
  .start_btn button {
    font-size: 1.4rem;
    padding: 5% 7%;
}

  .info_box .info_list .info {
    margin: 1px 0;
    font-size: 1rem;
}

  .info_box .info_list {
    padding: 10px 20px;
}

.info_box.activeInfo, .result_box.activeResult {

  transform: translate(-50%, -50%) scale(0.8);
}

 
  footer .next_btn {
    font-size: 1.2rem;
}
  .result_box .buttons button {
    font-size: 1.2rem;
  }

  .divquiz{
    padding: auto;
  }
}

@media(max-width: 465px){

  .info_box.activeInfo, .result_box.activeResult {

    transform: translate(-50%, -50%) scale(0.6);
  }
  
  .quiz_box.activeQuiz{
    transform: translate(-50%, -50%) scale(0.8);

  }

  span{
    font-size: 0.7rem;
  }

  .quiz_box header .title {
    font-size: 0.8rem;
}

  .start_btn, .info_box, .quiz_box, .result_box {
    top: 50%;
    left: 58%;
}
  footer .next_btn {
    font-size: 0.8rem;
}
}

/* Transição para todas as telas */
.info_box, .quiz_box, .result_box {
  transition: opacity 0.5s ease;
  opacity: 0;
}

/* Ativar quando a página estiver visível */
.activeInfo {
  opacity: 1;
}

.activeQuiz {
  opacity: 1;
}

.activeResult {
  opacity: 1;
}

/* Para a tela de resultado começar invisível */
.result_box {
  opacity: 0;
}

/* Transição suave para as questões */
.que_text, .option_list {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.showQuestion {
  opacity: 1;
}